
{% extends 'blog/__base__.html' %}

{% block title %}{{blog.name}}{% endblock %}

{% block beforehead %}
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // 这些HTTP方法不要求CSRF包含
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
var comment_url = '{% url 'comment' username=blog.user.username blog_id=blog.id %}';
$(function(){
    var comment_id = '';
    $('.reply').click(function(){
        comment_id = parseInt($(this).attr('id'));
        var comment_user = $(this).attr('data-username');
        $('#form-comment').find('textarea').val('@'+comment_user+'\n');
    });
    var $form = $('#form-comment');
    var user = '{{ request.session.username }}';
    $form.submit(function(event){
        event.preventDefault();
        if (user==='') {
            return $form.showFormError('请先登录！');
        }
        var content = $form.find('textarea').val().trim();
        if (content==='') {
            return $form.showFormError('请输入评论内容！');
        }
        $form.postJSON(comment_url, {'content': content, 'parent_id': comment_id }, function (err, result) {
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});
</script>
{% endblock %}

{% block name %}
    <h1><a href="{% url 'myblog' username=blog.user.username %}" >{{ blog.user.username }}</a></h1>
{% endblock %}

{% block subnav %}
    <div class="uk-container">
        <ul class="uk-subnav uk-subnav-line uk-subnav-pill">
            <li><a href="{% url 'index' %}" >首页</a></li>
            <li><a href="{% url 'myblog' username=blog.user.username %}">个人主页</a></li>
            <li><a href="">新日志</a></li>
            <li><a href="">管理</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            <h2>{{ blog.name }}</h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|date:"Y-m-d" }}{{ blog.created_at|time:"H:i:s" }}</p>
            <p>{{ blog.content|safe }}</p>
        </article>

        <hr class="uk-article-divider">


        <h3>发表评论</h3>

        <article class="uk-comment">
            {% if request.session.is_login %}
            <header class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ request.session.user_image }}">
                <h4 class="uk-comment-title">{{ request.session.username }}</h4>
            </header>
            {% endif %}
            <div class="uk-comment-body">
                <form id="form-comment" v-on:submit="submit" class="uk-form">
                    {% csrf_token %}
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea id="input" rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i> 发表评论</button>
                    </div>
                </form>
            </div>
        </article>

        <hr class="uk-article-divider">


        <h3>最新评论</h3>

        <ul class="uk-comment-list">
            {% if comments %}
                {% for comment in comments %}
                <li style="margin-left:{{ comment.indent }}px">
                    <article class="uk-comment">
                        <article class="uk-article">
                            <a href=" {% url 'myblog' username=comment.user.username %} " ><img class="uk-comment-avatar uk-border-circle" width="30" height="30" src="{{ comment.user.image.url }}"></a>
                            <h5 class="uk-comment-title">{{ comment.content }}</h5>
                            {% if not comment.parent %}
                                <p class="uk-article-meta">{{ comment.user.username }} {% if comment.user.id == blog.user.id %}(作者){% endif %} {{ comment.created_at|date:"Y-m-d" }}{{ comment.created_at|time:"H:i:s" }}</p>
                            {% else %}
                                <p class="uk-article-meta">{{ comment.user.username }} {% if comment.user.id == blog.user.id %}(作者){% endif %} 回复 {{ comment.parent.user.username }} {% if comment.parent.user.id == blog.user.id %}(作者){% endif %} {{ comment.created_at|date:"Y-m-d" }}{{ comment.created_at|time:"H:i:s" }}</p>
                            {% endif %}
                            <p><a id="{{ comment.id }}" data-username="{{ comment.user.username }}" class="reply" href="#input">回复<i class="uk-icon-angle-double-right"></i></a></p>
                        </article>
                        <hr class="uk-article-divider">
                    </article>
                </li>
                {% endfor %}
            {% else %}
                <p>还没有人评论...</p>
            {% endif %}
        </ul>

    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <a href="{% url 'myblog' username=blog.user.username %}"><img class="uk-border-circle" width="120" height="120" src="{{ blog.user.image.url }}"></a>
                <a href="{% url 'myblog' username=blog.user.username %}"><p>{{ blog.user.username }}</p></a>
            </div>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.cnblogs.com/sheshouxin/">博客园</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://github.com/ZXY0806?tab=repositories">Github</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000">Python教程</a></li>
            </ul>
        </div>
    </div>

{% endblock %}