
{% extends 'blog/__base__.html' %}

{% block title %}登录{% endblock %}

{% block beforehead %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // 这些HTTP方法不要求CSRF包含
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
$(function(){
    var vm = new Vue({
        el: '#vm',
        data: {
            username: '',
            password: ''
        },
        methods: {
            submit: function(event){
                event.preventDefault();
                var
                    $form = $('#vm'),
                    username = this.username.trim(),
                    data = {
                        username: username,
                        password: this.password === '' ? '' : sha1(username + ':' + this.password).toString()
                    };
                $form.postJSON('{% url 'login' %}', data, function(err, r){
                    if(!err){
                        location.assign(r.return_url);
                    }
                });
            }
        }
    });
    $('#vm').show();
});

</script>
{% endblock %}

{% block content %}

<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 320px">
        <p><a href="/" class="uk-icon-button"><i class="uk-icon-html5"></i></a> <a href="{% url 'index' %}">Awesome Python Webapp</a></p>
        <form id="vm" v-on:submit="submit" class="uk-panel uk-panel-box uk-form">
            {% csrf_token %}
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <div class="uk-form-controls uk-width-1-1">
                    </i><input v-model="username" name="username" type="text" placeholder="用户名" maxlength="50" class="uk-width-1-1 uk-form-large">
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls uk-width-1-1">
                    <input v-model="password" name="password" type="password" placeholder="密码" maxlength="50" class="uk-width-1-1 uk-form-large">
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-sign-in"></i> 登录</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
