{% extends "blog/__base__.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block name %}
    <h1><a href="{% url 'myblog' username=user.username %}" >{{ user.username }}</a></h1>
{% endblock %}

{% block subnav %}
    <div class="uk-container">
        <ul class="uk-subnav uk-subnav-line uk-subnav-pill">
            <li><a href="{% url 'index' %}" >首页</a></li>
            <li><a href="{% url 'myblog' username=user.username %}">个人主页</a></li>
            <li><a href="">新日志</a></li>
            <li><a href="">管理</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
    {% for blog in page %}
        <article class="uk-article">
            <h2><a href="{% url 'blog' username=blog.user.username blog_id=blog.id %}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">{{blog.user.username}} 发表于{{ blog.created_at|date:"Y-m-d" }}{{ blog.created_at|time:"H:i:s" }} 阅读({{blog.readers}})评论({{blog.comments}})</p>
            <p>{{ blog.summary }}</p>
            <p><a href="{% url 'blog' username=blog.user.username blog_id=blog.id %}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{% url 'index' %}?page={{ page.previous_page_number }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.number }}</span></li>
        {% if page.has_next %}
            <li><a href="{% url 'index' %}?page={{ page.next_page_number }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <a href="{% url 'myblog' username=user.username %}"><img class="uk-border-circle" width="120" height="120" src="{{ user.image.url }}"></a>
                <a href="{% url 'myblog' username=user.username %}"><p>{{ user.username }}</p></a>
            </div>
        </div>

        <div class="uk-panel uk-panel-header">
            <ul class="uk-list">
                <li><p>粉丝：<a>{{ user.fans_num }}</a></p></li>
                <li><p>关注：<a>{{ user.follow_num }}</a></p></li>
            </ul>
            {% if request.session.relation == 'unfollow' %}
                <a class="uk-panel-title" href="{% url 'follow' username=user.username %}" style="color:blue">加关注</a>
            {% endif %}
            {% if request.session.relation == 'followed' %}
                <a class="uk-panel-title" href="{% url 'unfollow' username=user.username %}" style="color:blue">取消关注</a>
            {% endif %}
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.cnblogs.com/sheshouxin/">博客园</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://github.com/ZXY0806?tab=repositories">Github</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000">Python教程</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
