
<!DOCTYPE html>
<html lang="en">
    <!--百度统计-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b94bd2699a7baf9292dd9cf571f7fbb9";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Python,Django,Python教程,Django教程,数据分析,机器学习, 深度学习, Web开发, 运维, 自动化,博客,人工智能," />
    <meta name="description" content="提供Python、Django、数据分析的原创中文精品教程和博客,分享技术知识,传播新闻视点,提倡开源精神,让更多开发者从中受益。">
    <meta name="author" content="刘江,liujiang,大江东流">
    <title>刘江的博客</title>
	
	<!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">


    <link href="/static/css/main.css" rel="stylesheet">

    <link href="/static/css/github.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    

</head><!--/head-->

<body class="homepage">

    <header id="header" class=" navbar-fixed-top">



























		<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">刘江的博客及教程</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="my-navbar">
      <ul class="nav navbar-nav">
        <li><a href="/news/">新闻</a></li>
        <li><a href="/blog/">博客</a></li>
        <li><a href="/course/python/1">Python教程</a></li>
        <li><a href="/course/django/2">Django教程</a></li>
        <li><a href="/course/data/">数据分析教程</a></li>
        <li><a href="/video/">视频教程</a>
        <span class="badge" style="color: red;text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white; float: right;font-size: small;margin-left: -8px;">Hot!</span>
        </li>
      </ul>








      <ul class="nav navbar-nav navbar-right">
          <li>
            
              <!--通过在login后添加next参数，让用户登录后返回先前的页面-->
            <a href="https://api.weibo.com/oauth2/authorize?client_id=3191049160&response_type=code&redirect_uri=http://www.liujiangblog.com/login?next=/blog/">
            <span class="glyphicon glyphicon-log-in"></span>登录</a></li>
            
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    </header><!--/header-->


    
    <div class="row" id="blog-index">
        <div class="blog col-md-9">

            

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">21&nbsp;&nbsp;&nbsp;五月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>9条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>198次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/44/">Django之contenttypes框架</a></h2>
                            
                            <p>Django除了我们常见的admin、auth、session等contrib框架，还包含一个contenttypes框架，它可以跟踪Django项目中安装的所有模型（model），为我们提供更高级的模型接口。</p>
                            
                            <a class="btn btn-primary" href="/blog/44/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">08&nbsp;&nbsp;&nbsp;五月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>2条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>405次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/43/">Django REST framework 核心组件：  序列化器</a></h2>
                            
                            <p>Django REST framework是Django生态中专门用于前后端分离，开发API应用的框架，其核心组件序列化器的地位，相当于Django中的Model。</p>
                            
                            <a class="btn btn-primary" href="/blog/43/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">27&nbsp;&nbsp;&nbsp;四月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>网络转载</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>0条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>310次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/42/">HTTPie--命令行下的HTTP工具</a></h2>
                            
                            <p>强烈建议每一位从事Web开发的人员掌握它</p>
                            
                            <a class="btn btn-primary" href="/blog/42/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">02&nbsp;&nbsp;&nbsp;四月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>1条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>1480次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/40/">独家首发！Django2.2新特性</a></h2>
                            
                            <p>2019年4月1日，Django官方如期发布了2.2版本，这是一个LST版本，将持续维护和安全更新到2022年4月，也就是说至少有3年的生命周期，所以这是一个可以长期使用的版本。</p>
                            
                            <a class="btn btn-primary" href="/blog/40/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">03&nbsp;&nbsp;&nbsp;三月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>3条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>922次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/39/">纯Python实现kNN机器学习算法</a></h2>
                            
                            <p>用纯Python环境，实现kNN算法</p>
                            
                            <a class="btn btn-primary" href="/blog/39/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">28&nbsp;&nbsp;&nbsp;八月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>5条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>3270次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/38/">原来你是这样的Django</a></h2>
                            
                            <p>你所不知道的Django背景故事</p>
                            
                            <a class="btn btn-primary" href="/blog/38/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">12&nbsp;&nbsp;&nbsp;八月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>1条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>2617次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/37/">Django类视图</a></h2>
                            
                            <p>类视图不是函数视图的高级版，而是一种偷懒的技巧</p>
                            
                            <a class="btn btn-primary" href="/blog/37/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">11&nbsp;&nbsp;&nbsp;八月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>50条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>43997次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/36/">Django2.1新手图文入门教程</a></h2>
                            
                            <p>本文是广受大家欢迎的《Django1.10新手图文入门教程》的2.1版本升级篇</p>
                            
                            <a class="btn btn-primary" href="/blog/36/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">11&nbsp;&nbsp;&nbsp;八月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>0条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>2783次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/35/">Django开发常用插件</a></h2>
                            
                            <p>这里介绍了一些使用广泛的Django常用插件</p>
                            
                            <a class="btn btn-primary" href="/blog/35/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                
                                <div id="publish_date">10&nbsp;&nbsp;&nbsp;八月</div>
                                <div><i class="fa fa-user" style="color: green"></i>&nbsp;&nbsp;&nbsp;<span>刘江</span></div>
                                <div><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;<span>1条评论</span></div>
                                <div><i class="fa fa-heart" style="color: red"></i>&nbsp;&nbsp;&nbsp;<span>4769次浏览</span></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-10 col-md-10 blog-content">



                            <h2><a href="/blog/34/">Django2.1 版本更新说明！独家发布！</a></h2>
                            
                            <p>博主人工翻译！权威发布！</p>
                            
                            <a class="btn btn-primary" href="/blog/34/">展开阅读&nbsp;&nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                        <hr />
                        </div>
                    </div>
                </div><!--/.blog-item-->

            

            <!--/.pagination-->
            <div id="paginator" class="pull-right">

                <ul class="pagination pagination-lg">
                

                

                


                <li class="active"><a href="?page=1">1</a></li>

                
                    
                        <li><a href="?page=2">2</a></li>
                    
                        <li><a href="?page=3">3</a></li>
                    
                        <li><a href="?page=4">4</a></li>
                    
                        <li><a href="?page=5">5</a></li>
                    

                    
                

                

                
                    <li><a href="?page=2">下一页<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                
                </ul>
            </div>

        </div>

        <!--最新、归档、分类、标签云等-->
        <div class="col-md-3">
            <!--最新、归档、分类、标签云等-->





            

            <!--最新博客-->
            <div class="row">
                <div class="widget">
                    <h3>最新博客:</h3>
                    
                    
                        <div class="single_entry">
                            <a href="/blog/44/"><strong>Django之contenttypes框架</strong></a>
                            <div class="entry-meta small muted">
                                <span><strong>feixuelove1009</strong></span>发表于&nbsp;&nbsp;2019年05月21日 10:18
                            </div>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/43/"><strong>Django REST framework 核心组件：  序列化器</strong></a>
                            <div class="entry-meta small muted">
                                <span><strong>feixuelove1009</strong></span>发表于&nbsp;&nbsp;2019年05月08日 4:09
                            </div>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/42/"><strong>HTTPie--命令行下的HTTP工具</strong></a>
                            <div class="entry-meta small muted">
                                <span><strong>other</strong></span>发表于&nbsp;&nbsp;2019年04月27日 6:38
                            </div>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/40/"><strong>独家首发！Django2.2新特性</strong></a>
                            <div class="entry-meta small muted">
                                <span><strong>feixuelove1009</strong></span>发表于&nbsp;&nbsp;2019年04月02日 9:30
                            </div>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/39/"><strong>纯Python实现kNN机器学习算法</strong></a>
                            <div class="entry-meta small muted">
                                <span><strong>feixuelove1009</strong></span>发表于&nbsp;&nbsp;2019年03月03日 11:56
                            </div>
                        </div>
                    
                </div>
            </div>
            <hr />

            <!--推荐博客-->
            <div class="row">
                <div class="widget">
                    <h3>推荐阅读:</h3>
                    
                    
                        <div class="single_entry">
                            <a href="/blog/36/"><strong>Django2.1新手图文入门教程</strong></a>
                            <span class="badge">43997</span>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/3/"><strong>Django1.10新手图文入门教程</strong></a>
                            <span class="badge">23310</span>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/18/"><strong>pipenv 新款Python虚拟环境工具详解</strong></a>
                            <span class="badge">10061</span>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/15/"><strong>用paramiko实现Python内的ssh功能</strong></a>
                            <span class="badge">5600</span>
                        </div>
                    
                        <div class="single_entry">
                            <a href="/blog/26/"><strong>基于Django 2.0的WEB堡垒机实战</strong></a>
                            <span class="badge">5353</span>
                        </div>
                    
                </div>
            </div>
            <hr />

            <!--分类-->
            <div class="row">
                <div class="widget categories">
                    <h3>分类:</h3>
                        <ul class="blog_category">
                            
                            
                                <li>
                                    <a href="/blog/category/1/">技术分享&nbsp;&nbsp;
                                    <span class="badge">38</span>
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="/blog/category/2/">机器学习&nbsp;&nbsp;
                                    <span class="badge">2</span>
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="/blog/category/3/">网络转载&nbsp;&nbsp;
                                    <span class="badge">1</span>
                                    </a>
                                </li>
                            
                                <li>
                                    <a href="/blog/category/4/">杂谈&nbsp;&nbsp;
                                    <span class="badge">1</span>
                                    </a>
                                </li>
                            
                        </ul>
                </div>
            </div>
            <hr />

            <!--归档-->
            <div class="row">
                <div class="widget categories">
                    <h3>归档:</h3>
                    
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2019/5/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2019 年 5 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">2</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2019/4/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2019 年 4 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">2</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2019/3/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2019 年 3 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">1</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/8/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 8 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">5</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/7/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 7 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">1</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/6/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 6 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">6</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/5/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 5 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">1</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/4/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 4 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">4</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/3/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 3 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">2</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/2/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 2 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">4</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2018/1/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2018 年 1 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">5</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2017/12/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2017 年 12 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">2</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2017/11/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2017 年 11 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">4</span></a></li>
                        </ul>
                    
                        <ul class="blog_archieve">
                            <li><a href="/blog/archives/2017/9/">
                                <i class="fa fa-angle-double-right"></i>
                                &nbsp;2017 年 9 月&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="badge">3</span></a></li>
                        </ul>
                    
                </div>
            </div>
            <hr />

            <!--标签云-->
            <div class="row">
                <div class="widget tags">
                    <h3>标签云:</h3>
                    <ul class="tag-cloud">
                        
                        
                            <li><a href="/blog/tag/1/">
                            <span class="label label-default">Python</span>
                            </a></li>
                        
                            <li><a href="/blog/tag/2/">
                            <span class="label label-primary">Django</span>
                            </a></li>
                        
                            <li><a href="/blog/tag/3/">
                            <span class="label label-success">爬虫</span>
                            </a></li>
                        
                            <li><a href="/blog/tag/4/">
                            <span class="label label-info">全部</span>
                            </a></li>
                        
                            <li><a href="/blog/tag/5/">
                            <span class="label label-warning">机器学习</span>
                            </a></li>
                        
                            <li><a href="/blog/tag/6/">
                            <span class="label label-danger">技术观点</span>
                            </a></li>
                        
                            <li><a href="/blog/tag/7/">
                            <span class="label label-default">观点</span>
                            </a></li>
                        
                    </ul>
                </div>
            </div>
            <hr />

            <!--RSS订阅-->
            <div class="row">
                <div class="rss">
                    <a href="/all/rss/"><i class="fa fa-rss" aria-hidden="true"></i> RSS 订阅</a>
                </div>
            </div>
            <hr />



        </div>

    </div>





    <div id="back-to-top" >
        <span class="glyphicon glyphicon-arrow-up"></span>
    </div>


    <footer id="footer" class="midnight-blue">
        <div class="container-fluid" style="font-size: smaller">
            <div class="row footer-1">
                <div class="col-md-2">
                    Copyright &copy; 2019.刘江的官方网站
                </div>
                <div class="col-md-3">
                    托管于<a target="_blank" href="https://www.aliyun.com/">阿里云</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备17055098号</a>
                </div>
                <div class="col-md-2">
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602120033">

                        <span><img style="display: inline;margin: 0 auto;" src="/static/images/ghs.png" />京公网安备11010102002019号</span>
                    </a>
                </div>
                <div class="col-md-5">
                    <ul class="pull-right">
                        <li><a href="/blog/">返回首页</a></li>
                        <li><a href="/about/">关于博主</a></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="/contact/" target="_blank">广告合作</a></li>
                        <li><a href="/contact/" target="_blank">联系方式</a></li>
                        <li><a href="#">使用许可</a></li>
                    </ul>
                </div>
            </div>







        </div>
    </footer><!--/#footer-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>




    <script>


        //为新闻添加访问量
        function count_visiting(news_id){
            var to_url = "/news/visiting/"+news_id;
            jQuery.get(to_url);
        }


        $("#donate").click(function () {
            $("#donate_page").toggleClass('hidden');
        });



        <!-- 导航条对应条目active -->
        $(document).ready(function () {

            $('.navbar-nav').find('a').each(function () {
                if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
                    $(this).parent().addClass('active'); // this.parent.className = 'active';
                }
            });

            $('table').addClass('table table-bordered table-hover');

            $('img').addClass('img-responsive');

            $('#back-to-top').click(function () {
                window.scrollTo(0,0);
            });

        });

    

        $('button.navbar-toggle').click(function () {
            $('#my-navbar').css("background","#337ab7")
        });
        
    </script>

</body>

</html>