{% extends "blog/__base__.html" %}

{% block title %}头像上传{% endblock %}

{% block beforehead %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // 这些HTTP方法不要求CSRF包含
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(function(){
    var username = '{{ request.session.username }}';
    var url = '{% url 'upload_photo' username=request.session.username %}';
    $("#upload").click(function(){
        $("#uploadfile").click();
    })
    $("#save").click(function(){
        var form_data = new FormData();
        form_data.append("username", username);
        form_data.append("file_obj", $("#uploadfile")[0].files[0]);
        $.ajax({
            url: url,
            type: 'POST',
            contentType: false,
            processData: false,
            data: form_data,
            success: function(data){
                refresh();
            }
        })
    })
    $("#uploadfile").change(function(){
        var file = this.files[0];    //获取文件信息
        if(file)
        {
            if(window.FileReader){
                var reader = new FileReader();  //调用FileReader
                reader.readAsDataURL(file); //将文件读取为 DataURL(base64)
                reader.onloadstart = function(){
                }
                reader.onerror = function(){
                }
                reader.onloadend = function(evt){
                    $("#image").attr('src',evt.target.result)  //将img标签的src绑定为DataURL
                    document.getElementById('save').style.display = 'inline';
                }
            }
            else{
                alert('不支持');
            }
        }
        else{
            alert("上传失败");
        }
    })
})
</script>

{% endblock %}

{% block name %}
    <h4><a href="{% url 'resume' username=user.username %}" >返回</a></h4>
{% endblock %}

{% block subnav %}
    <div class="uk-container">
        <button id="upload" type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 上传图片</button>
        <button id="save" type="submit" style="display:none" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
    </div>
{% endblock %}

{% block content %}
    <div class="uk-width-medium-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <input type="file"  style="display:none" id="uploadfile" accept="image/*"/>
                <img id="image" class="uk-border-circle" width="120" height="120" src="{{ user.image.url }}">
            </div>
        </div>
    </div>

{% endblock %}
